html {
  height:100%;
}

body {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#input-field {
  margin-top:45vh;
  width:80%;
  height:30px;
  font-size: 30px;
  outline: none;
}

#update-button {
  margin-top: 20px;
  font-size: 40px;
  border-radius: 10px;
  background-color: Transparent;
  border: 0px solid black;
  outline: none;
  color: rgb(180,180,180);
  text-shadow: 1px 1px 2px #000;
  transition-property: color, text-shadow;
  transition-duration: 1s;
}

#update-button:hover {
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 5px black;
  transition-property: color, text-shadow;
  transition-duration: 1s;
}
